<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__col">
                {% if fields.title %}
                    <h1>
                        {{ fields.title }}
                    </h1>
                {% endif %}
                {% if fields.text %}
                    <p class="hero__text p3">
                        {{ fields.text }}
                    </p>
                {% endif %}
                <a href="#" class="hero__popup btn" data-popup="video">
                    Watch the video
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <circle cx="14.5" cy="14.5" r="13.5" fill="white" stroke="white" stroke-width="2"/>
                        <path d="M18.661 15.2772C18.9375 15.0776 18.9375 14.6658 18.661 14.4663L12.4467 9.98151C12.116 9.74286 11.6541 9.97915 11.6541 10.387V19.3565C11.6541 19.7643 12.116 20.0006 12.4467 19.7619L18.661 15.2772Z" fill="#FF3A1D" stroke="white"/>
                    </svg>
                </a>
            </div>
            <div class="hero__col">
                {% if fields.gallery2 %}
                    <div class="hero__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {%  for item in fields.gallery2 %}
                                    <div class="swiper-slide">
                                        {{ fn('wp_get_attachment_image', item.image, 'full', 'false') }}
                                        <div class="swiper-slide__description">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                            <p>
                                                {{ item.text }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</section>